<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lobster&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="booking.css">
    <title>Booking</title>
</head>
<body>
    <div class="panel">
        <h4 style="font-family: 'Lobster', cursive;">Your guide</h4>
        <ul>
            <li>Alexandra</li>
            <li>Booking</li>
            <li>Booking History</li>
            <li>Chat</li>
            <li>About us</li>
            <li>Logout</li>
        </ul>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panelbook">
                    <center><h3>Book Here</h3></center>
                </div>
                <div class="form-group">
                    <div style="display: flex;">
                    <input id="destination" type="text" placeholder="Destination" class="form-control" id="usr">
                    <button style="background-color: #193b54;border:none;height:36px;margin-left:10px;width:70px;border-radius:5px;color:white;" data-toggle="modal" data-target="#myModal">List</button>
                    </div>
                        <script>
                          $(document).ready(function(){
                            $("#desa").click(function(){
                              var x = $("#desa").val();
                              var y = $("#pricea").text();
                              $("#destination").val(x);
                              $("#price").val(y);
                            });
                            $("#desb").click(function(){
                              var x = $("#desb").val();
                              var y = $("#priceb").text();
                              $("#destination").val(x);
                              $("#price").val(y);
                            });
                            $("#desc").click(function(){
                              var x = $("#desc").val();
                              var y = $("#pricec").text();
                              $("#destination").val(x);
                              $("#price").val(y);
                            });
                            const passconf = $("#people")
                            passconf.change(() => {
                              var x = parseInt(passconf.val());
                              var y = parseInt($("#price").val());
                              var z = x*y;
                              console.log(x);
                              $("#price").val(z);
                              console.log(y)
                            })
                          });
                        </script>
                    <div style="display: flex">
                        <input style="width: 156px" type="text" placeholder="dd" class="form-control" id="usr">
                        <input style="width: 156px;margin-left: 42px;"type="text" placeholder="mm" class="form-control" id="usr">
                        <input style="width: 156px;margin-left: 42px;"type="text" placeholder="yy" class="form-control" id="usr">
                    </div>
                    <div style="display: flex;">
                    <input id="people" style="width: 354px;" type="text" placeholder="How many people" class="form-control" id="usr">
                                        {{!-- <select style="width: 156px;" class="form-control" id="people">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select> --}}
                    <input id="price" style="width: 156px;margin-left:42px;" type="text" placeholder="Price" class="form-control" id="usr">
                    </div>
                    <textarea style="width:767px;padding-left: 50px;" rows="6" placeholder="Note" class="form-control" id="usr"></textarea>
                    <button style="width:100px;border-radius:50px;margin-top: 30px;margin-left: 880px;" type="button" class="btn btn-success">Acc</button>
                </div>

            </div>

        </div>

    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div style="margin-left: -60px;" class="col-lg-8">
                    <h3 style="margin-bottom: 30px;font-family: 'Lobster', cursive;">Your Guide</h3>
                    <h6>Find your best destination and</h6>
                    <h6>Find your guide here</h6>
                </div>
                <div style="padding-top:5px;" class="col-lg-4">
                    <div style="display:flex;margin-bottom: 20px;">
                        <i class="fa fa-envelope" style="font-size: 20px;" aria-hidden="true"></i>
                        <h6 style="margin-left: 10px;">service.yourguide@gmail.com</h6>
                    </div>
                    <div style="display: flex;">
                        <i class="fa fa-map-marker" style="font-size: 20px;margin-left: 10px;" aria-hidden="true"></i>
                        <h6 style="margin-left: 10px;">Based in Bandung</h6>
                    </div>
                </div>

            </div>

        </div>
        

    </div>
    <center>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Packet</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Packet</th>
        <th>Destination</th>
        <th>Times</th>
        <th>Price</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>Kawah Putih, Lembang</td>
        <td>2 Days</td>
        <td id="pricea">2000000</td>
        <td><button id="desa" style="background-color: #343A40" type="button" value="Paket A" class="btn btn-default"><i class="fa fa-check" style="color: white;" aria-hidden="true"></i>
</button></td>
      </tr>
      <tr>
        <td>B</td>
        <td>Braga, Gedung Sate</td>
        <td>1 Day</td>
        <td id="priceb">1000000</td>
        <td><button id="desb" style="background-color: #343A40" type="button" value="Paket B" class="btn btn-default"><i class="fa fa-check" style="color: white;" aria-hidden="true"></i>
</button></td>
      </tr>
      <tr>
        <td>C</td>
        <td>xxxxxx, xxxxxxx, xxxxx, xxxxxxx</td>
        <td>3 Days</td>
        <td id="pricec">4000000</td>
        <td><button id="desc" style="background-color: #343A40" type="button" value="Paket C" class="btn btn-default"><i class="fa fa-check" style="color: white;" aria-hidden="true"></i>
</button></td>
      </tr>
      
    </tbody>
  </table>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  </center>

    
</body>
</html>