<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lobster&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="chat.css">
    <title>Document</title>
</head>
<body>
    <div class="panel">
        <h1 style="font-family: 'Lobster', cursive;">Your guide</h1>
        <ul>
            <li>Alexandra</li>
            <li>Booking</li>
            <li>Booking History</li>
            <li>About us</li>
        </ul>
    </div>
        <div class="container">
            <div class="row">
                <div style="margin-bottom: 40px;border-right: solid 2px #193b54;" class="col-lg-12">
                    <div class="panelchat">
                    <center><h3>Chat Your Guide</h3></center>
                    </div>
                    <div style="display: flex;">
                    <div style="margin-left: -15px;" class="col-lg-4">
                        <div class="contact">
                            <img src="einstein1.jpg" alt="">
                            <h4>Nama Guide</h4>
                        </div>
                        <div class="contact">
                            <img src="einstein1.jpg" alt="">
                            <h4>Nama Guide</h4>
                        </div>
                        <div class="contact">
                            <img src="einstein1.jpg" alt="">
                            <h4>Nama Guide</h4>
                        </div>                          
                    </div>
                    <div class="col-lg-8">
                        <div style="margin-bottom:280px; ">    
                            <div class="chat">
                                <img src="einstein1.jpg" alt="">
                                <textarea name="" id="" cols="30" rows="2"></textarea>

                            </div>
                            <div class="chat">
                                <textarea style="margin-left: 340px;margin-right:20px;" name="" id="" cols="30" rows="2"></textarea>
                                <img src="einstein1.jpg" alt="">
                                

                            </div>
                        </div>
                        <div style="display: flex;">
                        <textarea name="" id="" cols="80" rows="5"></textarea>
                        <button style="margin-left: 10px;width:100px;" type="button" class="btn btn-success">Send</button>
                        </div>
                    </div>
                    </div>
                    <div class="panelchat">
                        <h1></h1>
                    </div>
                    <!-- <div class="contact">
                        <img src="aaaa" alt="">
                        <h4>Nama Guide</h4>

                    </div>
                    <div class="contact">
                        <img src="aaaa" alt="">
                        <h4>Nama Guide</h4>
                    </div> -->

                </div>

            </div>

        </div>
        
    </div>
    <div class="bottom">
            <div class="container">
                <div class="row">
                    <div style="margin-left: -60px;" class="col-lg-8">
                        <h1 style="margin-bottom: 30px;font-family: 'Lobster', cursive;">Your Guide</h1>
                        <h4>Find your best destination and</h4>
                        <h4>Find your guide here</h4>
                    </div>
                    <div style="padding-top:5px;" class="col-lg-4">
                        <div style="display:flex;margin-bottom: 20px;">
                            <i class="fa fa-envelope" style="font-size: 48px;" aria-hidden="true"></i>
                            <h6 style="padding-top: 16px;margin-left: 10px;">service.yourguide@gmail.com</h6>
                        </div>
                        <div style="display: flex;">
                            <i class="fa fa-map-marker" style="font-size: 48px;margin-left: 10px;" aria-hidden="true"></i>
                            <h6 style="padding-top: 16px;margin-left: 10px;margin-left: 20px;">Based in Bandung</h6>
                        </div>
                    </div>
    
                </div>
    
            </div>
            
    
        </div>
    
</body>
</html>