<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>History Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="confirmBook.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="historybook.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #193B54">
            <a class="navbar-brand" href="#">Your Guide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Booking History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row conten">
            <div class="col-md-4">
                <div class="wait">
                    <div class="judul">
                        <h2>WAITING</h2>
                    </div>
                    <div class="row list">
                        <div class="col-md-4">
                            <img src="waiting.png" alt="">
                        </div>
                        <div class="col-md-8 deskripsi">
                            <p>Destination</p>
                            <p>Name</p>
                            <p>Person</p>
                        </div>
                    </div>
                    <div class="viewall">
                        <p>View all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ontour">
                    <div class="judul">
                        <h2>ON TOUR</h2>
                    </div>
                    <div class="row list">
                        <div class="col-md-4">
                           <img src="car.png" alt="">
                        </div>
                        <div class="col-md-8 deskripsi">
                            <p>Destination</p>
                            <p>Name</p>
                            <p>Person</p>
                            <p>Guide</p>
                        </div>  
                    </div>
                    <div class="viewall">
                        <p>View all</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="finish">
                    <div class="judul">
                        <h2>FINISH</h2>
                    </div>
                    <div class="row list">
                        <div class="col-md-4">
                            <img src="checklist2.png" alt="">
                        </div>
                        <div class="col-md-8 deskripsi">
                            <p>Destination</p>
                            <p>Name</p>
                            <p>Person</p>
                            <p>Guide</p>
                            <p>Notes</p>
                        </div>
                    </div>
                    <div class="viewall">
                        <p>View all</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Your Guide</h5>
                <p class="grey-text text-lighten-4">Find yout best destination and <br> Find your guide here</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul class="aboutus">
                    <li><a class="grey-text text-lighten-3" href="#!">service.yourguide@gmail.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Based in Bandung</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
            </div>
        </div>
    </footer>
</body>
</html>