<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Popular Destination</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Youre Guide</a>
          </div>
          
           
          <ul  class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Alexanda</a></li>
            <li><a href="/booking"><span class="glyphicon glyphicon-log-in"></span> Booking</a></li>
            <li><a href="/history"><span class="glyphicon glyphicon-log-in"></span> Booking History</a></li>
            <li><a href="/chat"><span class="glyphicon glyphicon-log-in"></span> About Us</a></li>
          </ul>
        </div>
      </nav>

      
      <div class="nama" >
        <p> Popular Destination</p>
      </div>

      <!-- <div class="gambar">
        <div class="col-6 col-sm-6 col-lg-3">
          <img src="a8d4aa77e79b9649791919051d6ffc19.jpg" alt="..ss." class="img-thumbnail" width="250">
        </div>

        <div class="col-6 col-sm-6 col-lg-3"></div>
          <img src="Observatorium Bosscha..jpg" alt="..ss." class="img-thumbnail" width="250">
        </div>

        <div class="col-6 col-sm-6 col-lg-3">
          <img src="96d1756dde297439cd458c5009253bb8.jpg" alt="..ss." class="img-thumbnail" width="250">
        </div>

        <div class="col-6 col-sm-6 col-lg-3">
          <img src="2cb314d936f4b245da03fe7e791d9bd8.jpg" alt="..ss." class="img-thumbnail" width="250" >
        </div>

      </div>     -->

      <section id="services" class="container">
          <h2 class="display-4 text-center mt-5 mb-3">Rekomendasi tempat di Bandung</h2><br>
          
          <div class="row text-center" >
             <div class="col-md-4 mb-4">
                <div class="card h-100">
                   <img class="img-thumbnail" src="2cb314d936f4b245da03fe7e791d9bd8.jpg" alt="Design">
                   <div class="card-body">
                      <h4 class="card-title">Design</h4>
                      <p class="card-text">Deliver the best user experience 
                      with our carefully designed responsive websites and applications!</p>
                   </div>
                   <div class="card-footer py-4">
                      <a href="#" class="btn btn-secondary">See portfolio &raquo;</a>
                   </div>
                </div>
             </div>
             
             <div class="col-md-4 mb-4">
                <div class="card h-100">
                   <img class="img-thumbnail" src="96d1756dde297439cd458c5009253bb8.jpg" alt="Development">
                   <div class="card-body">
                      <h4 class="card-title">Development</h4>
                         <p class="card-text">You need software that works on every device. 
                         Leverage the latest technologies and the most powerful tools!</p>
                   </div>
                   <div class="card-footer py-4">
                      <a href="#" class="btn btn-secondary">See projects &raquo;</a>
                   </div>
                </div>
             </div>
             
             <div class="col-md-4 mb-4">
                <div class="card h-100">
                   <img class="img-thumbnail" src="a8d4aa77e79b9649791919051d6ffc19.jpg" alt="Analytics">
                   <div class="card-body">
                      <h4 class="card-title">Analytics</h4>
                      <p class="card-text">Consult our experts to set up proper goals and 
                      find the best stack for your next application!</p>
                   </div>
                   <div class="card-footer py-4">
                      <a href="#" class="btn btn-secondary">See testimonials &raquo;</a>
                   </div>
                </div>
             </div>
          </div>
       </section>
           <div class="bottom">
        <div class="container">
            <div class="row">
                <div style="margin-left: -60px;" class="col-lg-8">
                    <h1 style="margin-bottom: 30px;font-family: 'Lobster', cursive;">Your Guide</h1>
                    <h4>Find your best destination and</h4>
                    <h4>Find your guide here</h4>
                </div>
                <div style="padding-top:5px;" class="col-lg-4">
                    <div style="display:flex;margin-bottom: 20px;">
                        <i class="fa fa-envelope" style="font-size: 48px;" aria-hidden="true"></i>
                        <h6 style="padding-top: 16px;margin-left: 10px;">service.yourguide@gmail.com</h6>
                    </div>
                    <div style="display: flex;">
                        <i class="fa fa-map-marker" style="font-size: 48px;margin-left: 10px;" aria-hidden="true"></i>
                        <h6 style="padding-top: 16px;margin-left: 10px;margin-left: 20px;">Based in Bandung</h6>
                    </div>
                </div>

            </div>

        </div>
        

    </div>

    <!-- <footer>
        <p>Posted by: Hege Refsnes</p>
        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
    </footer> -->
      

  </body>
</html>
